


body {
    margin: 0px auto;
}


.tableOne{
    border-bottom: 5px solid black;
}


/* .tableTwo th{
   
    border: 1px solid rgb(205, 171, 171);   
   
} */

.tablePart1 th{
    border-bottom:1px solid black;
}


h6 {
    display: inline-block;
}


.tenSub{
    margin: 0px auto;
    margin-left: 22px;
    margin-right: 22px;
}