/* .abc {
    display: flex;
    justify-content: center;   
    color: white; 
    
}

.xyz {
    text-align: center !important;
} */


.tableOne{
    border-bottom: 5px solid black;
}

.tableTwo{
    border-bottom: 3px solid black;
}