.quizapp {   
    box-shadow: 3px 3px 3px black;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px black;
    color: white; 
    border-radius: 10px;   
    margin-top: 10px;
}

.wellcome {
    display: inline-block;
    box-shadow: 3px 3px 3px black;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px black;
    color: white; 
    border-radius: 10px;   
    margin-top: 10px;
    background-color: green;
   
}

.selectquiz {
    display: inline-block;
    box-shadow: 3px 3px 3px black;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-shadow: 2px 2px 2px black;
    color: white; 
    border-radius: 10px;   
    margin-top: 10px;
    background-color: yellowgreen;
}